body {
  margin: 0px 0px 0px 0px;
}

.row {
  font-family: "Open Sans", sans-serif;
}

.h1-cust {
  font-size: 72px;
  color: #373a3c;
  margin-bottom: 50px;
}

.font-cust1 {
  font-size: 24px;
  color: #373a3c;
}

.font-cust2 {
  font-size: 24px;
  color: #d9534f;
  border: 1px solid #d9534f;
}

.my-font-result {
  text-decoration-line: underline;
  color: #373a3c;
  font-weight: bold;
  font-size: 24px;
}

.result-42 {
  text-decoration-line: none;
  font-weight: normal;
  font-size: 16px;
  color: #d9534f;
}

.invalid-input-value {
  width: 180px;
  height: 33px;
  margin-left: 202px;
  margin-top: 8px;
  padding: 12px, 3px, 7px, 3px;
  background: #f2dede;
  border: 1px solid #ebcccc;
  border-radius: 4px;
  color: #a94442;
}

.my-title {
  width: 182px;
  height: 72px;
  margin-top: 87px;
  font-size: 54px;
  line-height: 72px;
  vertical-align: center;
  color: #373a3c;
}

.this-col {
  margin-top: 87px;
}

#loading {
  margin-left: 5px;
    margin-bottom: 4px;
}

.show {
  display: inline-block;
}

.block {
  display: none;
}
